<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据分析</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>

<body>
<h1>数据分析</h1>

<select id="param1" name="result">
    <option>result</option>
    <option>参数2</option>
</select>

<select id="param2" name="force">
    <option>speed</option>
    <option>形式2</option>
</select>
<br>

<button onclick="submit()">提交</button>

</body>
<script>
    {#    1:var options=$(“#select option:selected”); //获取选中的项#}
    {##}
    {#2:alert(options.val()); //拿到选中项的值#}
    {##}
    {#3:alert(options.text()); //拿到选中项的文本#}
    {##}
    {#4:alert(options.attr('url')); //拿到选中项的url值#}


    var field1 = ($("#param1 option:selected")).val(); //获取选中的项
    var field2 = ($("#param2 option:selected")).val();

    function submit() {
//发送post请求，地址为index（Jquery）
        $.ajax({
            type: 'post',
            url: 'http://127.0.0.1:8000/data/get_fields/',
            data: JSON.stringify({"field1": field1, "field2": field2}),
            datatype: 'json',
            contentType: 'application/json',
            success: function (result) {
                if (result['code'] === 200) {

                    const info = result['mes'];
                    const objs = JSON.stringify(info)
                    alert(objs);
                    console.log(info[0]['result'])

                } else {
                    alert(result['error'])

                }
            }
        })

    }
</script>


</html>