<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <title>实验数据对比（折线图）</title>
</head>
<body>
<div class="container">
    <h1>{{ title }}数据对比（折线图）</h1>

</div>

<div style="margin-left: 20%;margin-top: 10%;width: auto">
    {{ line_chart |safe }}
</div>


<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
