<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除确认</title>
</head>
<body>
{% extends "admin/base_site.html" %}

{% block content %}
    <h1 style="color: red">将删除以下数据</h1>
    <ul style="font-size: 20px">
    {% for k,v in obj.items %}
        <li>{{ k }}: {{ v }}</li>
    {% endfor %}
    </ul>
    <h1 style="color: red;font-size: 30px">注意:其余表有关于这条数据的记录都会被删除</h1>



    <form method="post" action="{{ action }}">

        <p>
            <input type="submit" name="cancel" value="取消"/>
            <input type="submit" value="确定"/>
        </p>
    </form>



{% endblock %}
</body>
</html>