<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "admin/base_site.html" %}

{% block content %}




    <h1 style="color: red;display: inline-block;margin-right: 20px">数据预览</h1>
    
    <table border="2">

        <tr>

            <th>汽车品牌</th>
            <th>汽车型号</th>
            <th>速度形式</th>
            <th>工况</th>
            <th>荷载状态</th>
            <th>声压级最终结果</th>
            <th>语音清晰度左耳-%</th>
            <th>语音清晰度右耳-%</th>
            <th>语音清晰度-%</th>
            <th>响度左耳-sone</th>
            <th>响度右耳-sone</th>
            <th>响度-sone</th>
            <th>尖锐度左耳-acum</th>
            <th>尖锐度右耳-acum</th>
            <th>尖锐度-acum</th>
            <th>波动度左耳-vacil</th>
            <th>波动度右耳-vacil</th>
            <th>波动度-vacil</th>
            <th>声品质综合评价指数</th>
        </tr>

        {% for data in data_to_preview %}
            <tr>
                <th>{{ data.car.brand }}</th>
                <th>{{ data.car.model }}</th>
                <th>{{ data.speed }}</th>
                <th>{{ data.condition }}</th>
                <th>{{ data.status }}</th>
                <th style="color: {% if data.data_result == result.data_result.max %}blue{% elif data.data_result == result.data_result.min %}red{% else %}black{% endif %}">{{ data.data_result }}</th>
                <th style="color: {% if data.clarity_left == result.clarity_left.max %}blue{% elif data.clarity_left == result.clarity_left.min %}red{% else %}black{% endif %}">{{ data.clarity_left }}
                <th style="color: {% if data.clarity_right == result.clarity_right.max %}blue{% elif data.clarity_right == result.clarity_right.min %}red{% else %}black{% endif %}">{{ data.clarity_right }}</th>
                <th style="color: {% if data.clarity_result == result.clarity_result.max %}blue{% elif data.clarity_result == result.clarity_result.min %}red{% else %}black{% endif %}">{{ data.clarity_result }}</th>
                <th style="color: {% if data.loudness_left == result.loudness_left.max %}blue{% elif data.loudness_left == result.loudness_left.min %}red{% else %}black{% endif %}">{{ data.loudness_left }}</th>
                <th style="color: {% if data.loudness_right == result.loudness_right.max %}blue{% elif data.loudness_right == result.loudness_right.min %}red{% else %}black{% endif %}">{{ data.loudness_right }}</th>
                <th style="color: {% if data.loudness_result == result.loudness_result.max %}blue{% elif data.loudness_result == result.loudness_result.min %}red{% else %}black{% endif %}">{{ data.loudness_result }}</th>
                <th style="color: {% if data.sharpness_left == result.sharpness_left.max %}blue{% elif data.sharpness_left == result.sharpness_left.min %}red{% else %}black{% endif %}">{{ data.sharpness_left }}</th>
                <th style="color: {% if data.sharpness_right == result.sharpness_right.max %}blue{% elif data.sharpness_right == result.sharpness_right.min %}red{% else %}black{% endif %}">{{ data.sharpness_right }}</th>
                <th style="color: {% if data.sharpness_result == result.sharpness_result.max %}blue{% elif data.sharpness_result == result.sharpness_result.min %}red{% else %}black{% endif %}">{{ data.sharpness_result }}</th>
                <th style="color: {% if data.volatility_left == result.volatility_left.max %}blue{% elif data.volatility_left == result.volatility_left.min %}red{% else %}black{% endif %}">{{ data.volatility_left }}</th>
                <th style="color: {% if data.volatility_right == result.volatility_right.max %}blue{% elif data.volatility_right == result.volatility_right.min %}red{% else %}black{% endif %}">{{ data.volatility_right }}</th>
                <th style="color: {% if data.volatility_result == result.volatility_result.max %}blue{% elif data.volatility_result == result.volatility_result.min %}red{% else %}black{% endif %}">{{ data.volatility_result }}</th>
                <th>{{ data.index }}</th>

             
            </tr>



        {% endfor %}

    </table>
    <div style="float: left">
        <form method="get" action="{{ action }}">
            <p>
                <input type="submit" value="返回"/>
            </p>


        </form>

    </div>


{% endblock %}

</body>
</html>